## Importing the required libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.simplefilter('ignore')

## Loading the dataset

In [3]:
data = pd.read_csv('dataset.csv')

In [4]:
data.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [10]:
data.shape

(22000, 2)

In [8]:
data['language'].unique()

array(['Estonian', 'Swedish', 'Thai', 'Tamil', 'Dutch', 'Japanese',
       'Turkish', 'Latin', 'Urdu', 'Indonesian', 'Portugese', 'French',
       'Chinese', 'Korean', 'Hindi', 'Spanish', 'Pushto', 'Persian',
       'Romanian', 'Russian', 'English', 'Arabic'], dtype=object)

In [13]:
data['language'].unique().size

22

**The dataset consists of 22000 records. It has 2 columns- 'Text' and 'language' corresponding to the text. There are 22 unique languages present in the dataset.**

## Checking for null and duplicate values

In [14]:
# dropping duplicates (if any)
print('Before dropping duplicates: ', data.shape)
data.drop_duplicates()
print('After dropping duplicates: ', data.shape)

Before dropping duplicates:  (22000, 2)
After dropping duplicates:  (22000, 2)

**No duplicate records were present.**

In [15]:
# checking for NA values
data.isnull().sum()

Text        0
language    0
dtype: int64

**No NA values were present.**

## Example

In [17]:
data['Text'][3]

'விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திரிகை-விசாகப்பட்டின ஆசிரியர் சம்பத்துடன் இணைந்து விரிவுபடுத்தினார்  ஆண்டுகள் தொடர்ந்து செயலராக இருந்து தமிழ்மன்றத்தை நடத்திச் சென்றார்  கோவை செம்மொழி மாநாட்டில் "தமிழ்ச்சங்கங்களும் தமிழும்" எனும் தலைப்பில் பிற மாநிலங்களில் தமிழ்வளர்ச்சி பற்றி கட்டுரை வாசித்தார்'

In [19]:
data['language'][3]

'Tamil'

In [22]:
data['language'].value_counts()

Arabic        1000
Spanish       1000
French        1000
Hindi         1000
Urdu          1000
Portugese     1000
Thai          1000
Dutch         1000
Chinese       1000
Japanese      1000
Pushto        1000
Indonesian    1000
Estonian      1000
Latin         1000
Korean        1000
Persian       1000
Turkish       1000
Russian       1000
Romanian      1000
Tamil         1000
Swedish       1000
English       1000
Name: language, dtype: int64

**All languages have equal number of records in the dataset.**

In [23]:
# to-do: start building the model.